{% extends "unauthorized_base.html" %}
{% load static %}
{% block title %}Login Hosgeldin Damla{% endblock %}
{% block content %}
{% if error_message %}
<div class="alert alert-danger fade show" style="display: flex; flex-direction: row;" role="alert">
    <div class="alert-text">{{ error_message }}</div>
</div>
{% endif %}
{% if next %}
    {% if next != '/' %}
    <div class="alert alert-warning" role="alert">
      <div style="color:black;" class="alert-text">Please login to see this page.</div>
    </div>
    {% endif %}
{% endif %}
<div style="display: flex; flex-direction: column;">
  <h3 style="color: black;">Sign to Account</h3>
  <!--begin::Form-->
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="email" placeholder="E-mail" name="email" autofocus>
    </div>
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <input class="btn-primary" style="background-color: #f59e38;" type="submit" value="Login">
  </form>
  <a href="{% url "accounts:register" %}">Register</a>
</div>
{% endblock %}
