{% extends "unauthorized_base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
{% if error_message %}
<div class="alert alert-danger fade show" style="display: flex; flex-direction: row;" role="alert">
  <div class="alert-text">{{ error_message }}</div>
</div>
{% endif %}
<div style="display: flex; flex-direction: column;">
  <h3 style="color: black;">Register</h3>
  <form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="email" placeholder="E-mail" name="email" autofocus>
    </div>
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="text" placeholder="Organization Name" name="organization_name">
    </div>
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <div class="form-group" style="width: 50%">
      <input class="form-control" type="password" placeholder="Retype Password" name="password2">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="card-deck mb-3 text-center">
      {% include "accounts/include/subscriptions.html" %}
      <div class="card mb-4 box-shadow" style="min-width: 300px;">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ free_subscription_plan.name }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{ free_subscription_plan.price }} <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{ free_subscription_plan.num_project_allowence }} project allowence</li>
            <li>{{ free_subscription_plan.num_saved_report_allowence }} report allowence</li>
            <li>{{ free_subscription_plan.recurring_credits }} recurring credits</li>
          </ul>
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
