{% load i18n static %}<!DOCTYPE html>
<head>
<title>{% block title %}Game Sight{% endblock %}</title>
<link href="{% static "vendors/bootstrap/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "base/base.css" %}" rel="stylesheet" type="text/css">
<meta name="robots" content="NONE,NOARCHIVE">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
<body>
  <div id="app">
    <nav id="app-header" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" style="width: 75%" href="{% url "home" %}">Gamesight</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li style="margin: 8px;">
            <span>Credits: {{ request.user.profile.credit }}</span>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">{{ request.user }}</a>
              <a class="dropdown-item" href="{% url "accounts:helpme" %}">Help me!</a>
              <a class="dropdown-item" href="{% url "accounts:subscriptions" %}">Do I have to pay</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url "accounts:logout" %}">Bye Bye</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="{% static "vendors/jquery/jquery.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
</body>
</html>
