{% extends "base.html" %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
  <div style="display: flex; flex-direction: column;">
    <button type="button" class="btn btn-primary btn-lg">Add game</button>
    <br />
    <div class="embed-responsive embed-responsive-4by3" style="width: 300px;">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yJSiUm6jvI0" allowfullscreen></iframe>
    </div>
    <p style="text-align: center;">Learn how to add a game</p>
  </div>
</div>
{% endblock %}
